.categoriesList {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  // display: grid;
  // grid-template: repeat(3, 178px)/repeat(auto-fill, minmax(256px, 1fr));
  gap: 2px;
  border: 2px solid gray;
  border-radius: 8px;
  overflow: hidden;
  background: #fdfafa;
}