.categoryItem {
  width: 250px;
  min-height: 100px;
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background: #fdfafa;
  box-shadow: 0px 0px 0px 2px grey;
  cursor: pointer;
  overflow: hidden;

  &:hover {
    background: #c2bfbf;
    transition: 1s ease all;

    .categoryImage {
      transform: scale(1.1);
      filter: blur(0);
    }
  }
}

.categoryTitle {
  padding: 8px 16px;
  background: #fdfafa;
  border: 2px solid gray;
  position: relative;
  z-index: 10;
  transition: 0.2s ease all;

  &:hover {
    background: #ededed;
    transition: 0.2s ease all;
  }

  &:after,
  &:before {
    // content: "";
    width: 300px;
    height: 2px;
    background: gray;
    position: absolute;
    top: 50%;
    z-index: 15;
  }

  &:before {
    left: -300px;
  }

  &:after {
    right: -300px;
  }
}

.categoryImage {
  min-width: 100%;
  min-height: 100%;
  position: absolute;
  object-fit: contain;
  object-position: center;
  filter: blur(2px);
  transition: 1s ease all;
  transform: scale(1.05);
}
